
main{
    width: 80%;
    box-align: center;
}

header{
    font-size: 20pt;
    position: fixed;
    align-items: center;
    padding: 2rem;
    width: 100%;
    border: black;
    border-width: 1em;
}


